<div class="d-flex gap-1">
    <a href="/Calc/?press=%2B&x=0&y=0" class="link-primary">Sum</a>
    <a href="/Calc/?press=%2D&x=0&y=0" class="link-primary">Sub</a>
    <a href="/Calc/?press=%2A&x=0&y=0" class="link-primary">Mul</a>
    <a href="/Calc/?press=%2F&x=0&y=0" class="link-primary">Div</a>
</div>